@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: transparent;
}
body {
  background-color: transparent;
}

.surprise-bg {
  background-image: url(./LA_Cafe_Images/Home/surprise-sec-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: white !important;
  opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
  background-color: #c59d5f !important;
  opacity: 1 !important;
}
